[Desktop Entry]
Encoding=UTF-8
Version=0.1.10C
Name=Air Quality Platform Correction
Comment=Air Quality Platform
Categories=Application;Development;
Exec=sudo python /home/pi/AirPlatform/Correzione.py
Icon=/home/pi/AirPlatform/AQPlatformcon.ico
Terminal=true
Type=Application
